<form class="chatbox" id="chatbox" style="display:none;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <textarea name="message" class="message"></textarea>
            </div>
            <div class="col-12 d-flex justify-content-end">
                <button class="btn btn-success">Göndər</button>
            </div>
        </div>
    </div>
</form>

@section addcss{

<style>
    .chatbox{
        width:360px;
        position:fixed;
        right:10px;
        bottom:0;
        border:1px solid teal;
        border-radius:5px;
        z-index:9999;
        padding:20px;
        background-color:#ffffff;
    }
    .chatbox .message{
        resize:none;
        min-height:200px;
        overflow-y:auto;
    }
</style>
}