


<div class="middle-menu">
    <nav>
        <ul class="middle-menu-list">
            <li><a asp-controller="home" asp-action="index">home</a></li>
            <li><a asp-controller="home" asp-action="about">about us</a></li>
            <li><a asp-controller="home" asp-action="contactUs">contact us</a></li>
            <li><a asp-controller="home" asp-action="faq">Faq</a></li>
            <li><a asp-controller="blog" asp-action="index">blog</a></li>
            <li>
                <a href="#">pages<i class="fa fa-angle-down"></i></a>
                <!-- Home Version Dropdown Start -->
                <ul class="ht-dropdown dropdown-style-two">
                    <li><a href="login.html">login</a></li>
                    <li><a href="register.html">register</a></li>
                    <li><a href="404.html">404</a></li>
                </ul>
                <!-- Home Version Dropdown End -->
            </li>
            <li>
                <a href="shop.html">shop<i class="fa fa-angle-down"></i></a>
                <!-- Home Version Dropdown Start -->
                <ul class="ht-dropdown dropdown-style-two">
                    <li><a href="product.html">product details</a></li>
                    <li><a href="compare.html">compare</a></li>
                    <li><a href="cart.html">cart</a></li>
                    <li><a href="checkout.html">checkout</a></li>
                    <li><a href="wishlist.html">wishlist</a></li>
                </ul>
                <!-- Home Version Dropdown End -->
            </li>
            <li><a asp-controller="admin" asp-action="index">Admin</a></li>
        </ul>
    </nav>
</div>