
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="main-news-desc">
                    <div class="news-desc">
                        <h3>Sign Up For <span>Newsletters</span></h3>
                        <p>Get e-mail updates about our latest shop and special offers.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="newsletter-box">
                    <form id="newsletter-s1" method="post">
                        <input class="subscribe" placeholder="Enter your email address" name="email" id="subscribe" type="email">
                        <button type="submit" class="submit">subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>